.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    background-color: black;
}
.footer-item{
    min-width: 20vw;
    padding:auto 5%;
    box-sizing: border-box;
    border-right: 2px red solid;
    height: 100%;
    
}
.footer-item:last-child{
    border-right: none;
}
.footer-item.selected{
    background-color: rgb(46, 43, 43);
}